$drDoctorGreen: #46be69;
$drDoctorOrange: #f3734c;
$drDoctorWhite: #f9f9f9;
$drDoctorNavy: #2e3f48;

@font-face {
  font-family: 'helvetica-neu';
  src: url('./assets//fonts/helvetica-neu.ttf') format('ttf');
}
.App {
  font-family: 'helvetica-neu', 'Courier New', Courier, monospace;
}

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

body {
  background-color: $drDoctorWhite;
}

button {
  color: $drDoctorOrange;
  text-align: center;
  background-color: $drDoctorWhite;
  border-style: solid;
  border-color: $drDoctorWhite;
  border-radius: 22px;
  border-width: 3px;
  font-weight: 600;
  margin-top: 10px ;
  padding-bottom: 5px ;
  padding-left: 20px ;
  padding-right: 20px ;
  padding-top: 5px;
}
button:disabled{
  text-align: center;
  background-color: #b0b0b0;
  border-style: solid;
  border-color: #b0b0b0;
  color:rgb(88, 88, 88)
}

form {
  padding: 5% 5% 5% 5%;
  background: $drDoctorNavy;
  label {
    color: $drDoctorWhite;
  }
  input {
    // border-radius: 6px;
    // border-style: none;
    // border-width: 0px;
    // font-family: 'helvetica-neu', Helvetica, Trebuchet MS, sans-serif;
    // margin: 10px;
    padding: 5px 10px;
  }
}

.featureContainer {
  background:$drDoctorNavy;
  // border-radius: 6px;
  border-style: none;
  border-width: 0px;
  font-family: 'helvetica-neu', Helvetica, Trebuchet MS, sans-serif;
  // margin: 10px;
  padding: 5px 10px;
  input {
    border-radius: 6px;
    border-style: none;
    border-width: 0px;
    font-family: 'helvetica-neu', Helvetica, Trebuchet MS, sans-serif;
    padding: 5px 10px;
    // margin: 5px ;
  }
}

.successMessage {
  color: $drDoctorGreen;
}

.errorMessage {
  color: red;
}
